-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: physiq
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `question`
--

DROP TABLE IF EXISTS `question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question` (
  `question_id` int NOT NULL AUTO_INCREMENT,
  `subtopic_id` int NOT NULL,
  `tier` tinyint NOT NULL,
  `prompt` text NOT NULL,
  `correct_answer` text NOT NULL,
  `hint_text` text NOT NULL,
  `question_type` varchar(20) NOT NULL DEFAULT 'multiple_choice',
  PRIMARY KEY (`question_id`),
  KEY `idx_question_subtopic_tier` (`subtopic_id`,`tier`),
  CONSTRAINT `question_ibfk_1` FOREIGN KEY (`subtopic_id`) REFERENCES `subtopic` (`subtopic_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_tier` CHECK ((`tier` between 1 and 4))
) ENGINE=InnoDB AUTO_INCREMENT=351 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question`
--

LOCK TABLES `question` WRITE;
/*!40000 ALTER TABLE `question` DISABLE KEYS */;
/*!40000 ALTER TABLE `question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_attempt`
--

DROP TABLE IF EXISTS `question_attempt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_attempt` (
  `attempt_id` int NOT NULL AUTO_INCREMENT,
  `session_id` int NOT NULL,
  `question_id` int NOT NULL,
  `tier` tinyint NOT NULL,
  `is_correct` tinyint(1) NOT NULL,
  `hint_used` tinyint(1) NOT NULL DEFAULT '0',
  `counts_toward_limit` tinyint(1) NOT NULL DEFAULT '1',
  `attempt_number` int NOT NULL DEFAULT '1',
  `attempted_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`attempt_id`),
  KEY `idx_attempt_session` (`session_id`),
  KEY `idx_attempt_question` (`question_id`),
  CONSTRAINT `question_attempt_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `session` (`session_id`) ON DELETE CASCADE,
  CONSTRAINT `question_attempt_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `question` (`question_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_attempt`
--

LOCK TABLES `question_attempt` WRITE;
/*!40000 ALTER TABLE `question_attempt` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_attempt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_option`
--

DROP TABLE IF EXISTS `question_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_option` (
  `option_id` int NOT NULL AUTO_INCREMENT,
  `question_id` int NOT NULL,
  `option_key` char(1) NOT NULL,
  `option_text` text NOT NULL,
  PRIMARY KEY (`option_id`),
  UNIQUE KEY `uq_option` (`question_id`,`option_key`),
  CONSTRAINT `question_option_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `question` (`question_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1401 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_option`
--

LOCK TABLES `question_option` WRITE;
/*!40000 ALTER TABLE `question_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_token`
--

DROP TABLE IF EXISTS `refresh_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_token` (
  `token_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token_hash` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`token_id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `refresh_token_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_token`
--

LOCK TABLES `refresh_token` WRITE;
/*!40000 ALTER TABLE `refresh_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_performance`
--

DROP TABLE IF EXISTS `review_performance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review_performance` (
  `review_perf_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `correct_count` int NOT NULL DEFAULT '0',
  `incorrect_count` int NOT NULL DEFAULT '0',
  `last_reviewed_at` datetime DEFAULT NULL,
  `sessions_since_last_review` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`review_perf_id`),
  UNIQUE KEY `uq_review_perf` (`user_id`,`subtopic_id`),
  KEY `subtopic_id` (`subtopic_id`),
  KEY `idx_review_perf_user` (`user_id`),
  CONSTRAINT `review_performance_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `review_performance_ibfk_2` FOREIGN KEY (`subtopic_id`) REFERENCES `subtopic` (`subtopic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_performance`
--

LOCK TABLES `review_performance` WRITE;
/*!40000 ALTER TABLE `review_performance` DISABLE KEYS */;
/*!40000 ALTER TABLE `review_performance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_question_log`
--

DROP TABLE IF EXISTS `review_question_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `review_question_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `session_id` int NOT NULL,
  `question_id` int NOT NULL,
  `is_correct` tinyint(1) NOT NULL,
  PRIMARY KEY (`log_id`),
  KEY `question_id` (`question_id`),
  KEY `idx_review_log_session` (`session_id`),
  CONSTRAINT `review_question_log_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `session` (`session_id`) ON DELETE CASCADE,
  CONSTRAINT `review_question_log_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `question` (`question_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_question_log`
--

LOCK TABLES `review_question_log` WRITE;
/*!40000 ALTER TABLE `review_question_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `review_question_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `session`
--

DROP TABLE IF EXISTS `session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `session` (
  `session_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `started_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `completed_at` datetime DEFAULT NULL,
  `questions_used` int NOT NULL DEFAULT '0',
  `score` int DEFAULT NULL,
  `outcome` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`session_id`),
  KEY `idx_session_user` (`user_id`),
  KEY `idx_session_subtopic` (`subtopic_id`),
  CONSTRAINT `session_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `session_ibfk_2` FOREIGN KEY (`subtopic_id`) REFERENCES `subtopic` (`subtopic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `session`
--

LOCK TABLES `session` WRITE;
/*!40000 ALTER TABLE `session` DISABLE KEYS */;
/*!40000 ALTER TABLE `session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subtopic`
--

DROP TABLE IF EXISTS `subtopic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subtopic` (
  `subtopic_id` int NOT NULL AUTO_INCREMENT,
  `topic_id` int NOT NULL,
  `name` varchar(100) NOT NULL,
  `display_order` int NOT NULL,
  `is_bonus` tinyint(1) NOT NULL DEFAULT '0',
  `prerequisite_subtopic_id` int DEFAULT NULL,
  PRIMARY KEY (`subtopic_id`),
  UNIQUE KEY `uq_subtopic_order` (`topic_id`,`display_order`),
  KEY `prerequisite_subtopic_id` (`prerequisite_subtopic_id`),
  KEY `idx_subtopic_topic` (`topic_id`),
  CONSTRAINT `subtopic_ibfk_1` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`topic_id`) ON DELETE CASCADE,
  CONSTRAINT `subtopic_ibfk_2` FOREIGN KEY (`prerequisite_subtopic_id`) REFERENCES `subtopic` (`subtopic_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subtopic`
--

LOCK TABLES `subtopic` WRITE;
/*!40000 ALTER TABLE `subtopic` DISABLE KEYS */;
INSERT INTO `subtopic` VALUES (1,1,'Scalars vs. Vectors',1,0,NULL),(2,1,'1D Position & Displacement',2,0,1),(3,1,'1D Velocity',3,0,2),(4,1,'1D Acceleration',4,0,3),(5,1,'1D Motion Graphs',5,0,4),(6,1,'Kinematic Equations & Freefall',6,0,5),(7,1,'Vector Components',7,0,6),(8,1,'Projectile Motion',8,0,7),(9,1,'Relative Motion',9,1,NULL);
/*!40000 ALTER TABLE `subtopic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `topic`
--

DROP TABLE IF EXISTS `topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `topic` (
  `topic_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `display_order` int NOT NULL,
  `bonus_score_threshold` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`topic_id`),
  UNIQUE KEY `display_order` (`display_order`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `topic`
--

LOCK TABLES `topic` WRITE;
/*!40000 ALTER TABLE `topic` DISABLE KEYS */;
INSERT INTO `topic` VALUES (1,'Kinematics',1,400),(2,'Dynamics',2,450),(3,'Work & Energy',3,400),(4,'Momentum',4,380),(5,'Rotational Motion',5,420),(6,'Gravitation',6,360),(7,'Waves',7,380);
/*!40000 ALTER TABLE `topic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `email` varchar(120) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `last_login` datetime DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_subtopic_progress`
--

DROP TABLE IF EXISTS `user_subtopic_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_subtopic_progress` (
  `progress_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `subtopic_id` int NOT NULL,
  `best_score` int NOT NULL DEFAULT '0',
  `attempts` int NOT NULL DEFAULT '0',
  `status` varchar(20) NOT NULL DEFAULT 'locked',
  `skipped` tinyint(1) NOT NULL DEFAULT '0',
  `passed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`progress_id`),
  UNIQUE KEY `uq_user_subtopic` (`user_id`,`subtopic_id`),
  KEY `subtopic_id` (`subtopic_id`),
  KEY `idx_progress_user` (`user_id`),
  KEY `idx_progress_status` (`user_id`,`status`),
  CONSTRAINT `user_subtopic_progress_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `user_subtopic_progress_ibfk_2` FOREIGN KEY (`subtopic_id`) REFERENCES `subtopic` (`subtopic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_subtopic_progress`
--

LOCK TABLES `user_subtopic_progress` WRITE;
/*!40000 ALTER TABLE `user_subtopic_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_subtopic_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_topic_score`
--

DROP TABLE IF EXISTS `user_topic_score`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_topic_score` (
  `record_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `topic_id` int NOT NULL,
  `total_score` int NOT NULL DEFAULT '0',
  `status` varchar(20) NOT NULL DEFAULT 'locked',
  `bonus_unlocked` tinyint(1) NOT NULL DEFAULT '0',
  `bonus_unlocked_at` datetime DEFAULT NULL,
  `bonus_completed` tinyint(1) NOT NULL DEFAULT '0',
  `bonus_completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`record_id`),
  UNIQUE KEY `uq_user_topic` (`user_id`,`topic_id`),
  KEY `topic_id` (`topic_id`),
  KEY `idx_topic_score_user` (`user_id`),
  CONSTRAINT `user_topic_score_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `user_topic_score_ibfk_2` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`topic_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_topic_score`
--

LOCK TABLES `user_topic_score` WRITE;
/*!40000 ALTER TABLE `user_topic_score` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_topic_score` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-18  8:07:51
